{% extends 'base.html' %}

{% block page %}


<div>
    <h2>Edit profile</h2>
</div>
<div class="row">
    <div class="col-sm-4">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
               
                <button class="btn btn-lg btn-primary" id="btnsave" value="save">Save</button>
        </form>
    </div>
    <div class="col-sm-7">
        <h2 class="alert alert-info">Current user information.</h2>
        <h3>Username: {{ user }}</h3>
        <h3>Email: {{ user.email }}</h3>
        <h3>Lastname: {{ user.last_name}}</h3>
    </div>
</div>



{% endblock %}